In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv('https://github.com/Siriratkant/Decision-tree/raw/master/decision%20.csv')
data

  Credit   Term Income      y
0    good     3   high   safe
1    fair     5    low  risky
2    fair     3   high   safe
3    poor     5   high  risky
4    good     3    low  risky
5    fair     5    low   safe
6    poor     3   high  risky
7    poor     5    low   safe
8    fair     3   high   safe

In [3]:
data.columns

Index(['Credit ', 'Term', 'Income', 'y'], dtype='object')

In [4]:
data.y.value_counts()

safe     5
risky    4
Name: y, dtype: int64

In [5]:
def label2val(s):
    d = {'good': 1, 'fair': 2 , 'poor' : 0 ,'high':1,'low':0}
    if s in d.keys():
        v = d[s]
    else:
        v = np.nan
    return v

In [6]:
label2val('high')

1

In [7]:
data[['Credit ','Income']].applymap(label2val)

   Credit   Income
0        1       1
1        2       0
2        2       1
3        0       1
4        1       0
5        2       0
6        0       1
7        0       0
8        2       1

In [8]:
likert_cols = ['Credit ','Income']
data[likert_cols]=data[likert_cols].applymap(label2val)

In [9]:
data

   Credit   Term  Income      y
0        1     3       1   safe
1        2     5       0  risky
2        2     3       1   safe
3        0     5       1  risky
4        1     3       0  risky
5        2     5       0   safe
6        0     3       1  risky
7        0     5       0   safe
8        2     3       1   safe

# Scikit-learn

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [11]:
data.columns

Index(['Credit ', 'Term', 'Income', 'y'], dtype='object')

In [12]:
columns =['Credit ', 'Term', 'Income']

In [13]:
X =data[columns]
y =data['y']

In [14]:
model=DecisionTreeClassifier(criterion='gini') 
model.fit(X, y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [15]:
model.feature_importances_

array([0.17741935, 0.14516129, 0.67741935])

In [16]:
fs=pd.Series(model.feature_importances_, index=X.columns).sort_values(ascending=False)
fs

Income     0.677419
Credit     0.177419
Term       0.145161
dtype: float64

In [17]:
from sklearn.externals.six import StringIO  
from sklearn.tree import export_graphviz
import pydotplus
from IPython.display import Image